# Shell scripts use LF as line separator, even checked out to Windows(NTFS)
# file-system
*.sh       text eol=lf
ai_agents/agents/bin/* text eol=lf
ai_agents/agents/scripts/* text eol=lf
**/bin/start text eol=lf

# Ensure .dockerignore and .tenignore files always use LF line endings
.dockerignore text eol=lf
.tenignore text eol=lf
