*.log
ten_packages/extension_group/
ten_packages/extension/agora_rtc
ten_packages/extension/azure_tts
ten_packages/extension/agora_sess_ctrl
ten_packages/extension/agora_rtm
ten_packages/extension/http_server_python
ten_packages/extension/main_python
ten_packages/extension/main_nodejs
ten_packages/extension/main_cascade_python
ten_packages/extension/main_realtime_python
ten_packages/system/agora_rtc_sdk
ten_packages/system/azure_speech_sdk
ten_packages/system/nlohmann_json
ten_packages/system/ten_runtime*
ten_packages/system
ten_packages/addon_loader
.ten
agoradns.dat
agorareport.dat
agorartmreport.dat
agora_rtm_cache.db
agora_cache.db
agorartmdns.dat
bin/main
bin/worker
/BUILD.gn
.cache/
/compile_commands.json
core
crash_context_v1
.deps/
.DS_Store
/.gn
/.gnfiles
include/
interface/
lib/
/out/
*.pcm
!**/test_data/**/*.pcm
.release
session_control.conf.agora
xdump_config
.vscode
*.pyc
*.pyc.*
/manifest-lock.json
build/
*.tsbuildinfo
azure_tts_log.txt