bin/main
*.tsbuildinfo

*/tenapp/ten_packages/addon_loader
*/tenapp/ten_packages/system
*/tenapp/ten_packages/extension/*
!*/tenapp/ten_packages/extension/main_python
!*/tenapp/ten_packages/extension/main_python/**
!*/tenapp/ten_packages/extension/main_cascade_python
!*/tenapp/ten_packages/extension/main_cascade_python/**
!*/tenapp/ten_packages/extension/main_realtime_python
!*/tenapp/ten_packages/extension/main_realtime_python/**
!*/tenapp/ten_packages/extension/main_nodejs
!*/tenapp/ten_packages/extension/main_nodejs/**

*/tenapp/bin

!*/frontend/src/lib

node_modules
build
.next

__pycache__
.release